# Включаем механизм mod_rewrite (веб-сервера Apache)
RewriteEngine on

# Условие проверяет, существует ли запрашиваемый файл
RewriteCond %{REQUEST_FILENAME} !-f

# Проверяет, существует ли запрашиваемая директория
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправляем все запросы на intex.php
# ^.*$: регулярное выражение, означающее "любой запрос"
# Параметры запроса будут добавлены к новому URL
RewriteRule ^.*$ /index.php [L,QSA]
